<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta property="fb:app_id" content="1911520405726681" /> 
    <meta property="og:url" content="http://masonswope.com/" />
    <meta property="og:type" content="profile" />
    <meta property="og:title" content="🎉 Godparent of the Year: Craig 🎉" />
    <meta property="og:description" content="Without Craig who knows how much worse this could have been?" />
    <meta property="og:image" content="http://masonswope.com/assets/img/dreamteam-web.jpg" />    
  </head>
  <body>
    <audio src="/assets/music/bling.mp3" autoplay loop="true"></audio>
    <section class="page-header" background="/assets/img/dreamteam-web.jpg">
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
    </section>

    <section class="main-content">
      {{ content }}

      <img src="/assets/img/dancingjesus.gif" style="height: 150px; display: inline;">
      <img src="/assets/img/dancingjesus.gif" style="height: 150px; display: inline;">
      <img src="/assets/img/dancingjesus.gif" style="height: 150px; display: inline;">
      <img src="/assets/img/dancingjesus.gif" style="height: 150px; display: inline;">
      <img src="/assets/img/dancingjesus.gif" style="height: 150px; display: inline;">
      <img src="/assets/img/dancingjesus.gif" style="height: 150px; display: inline;">
      <img src="/assets/img/dancingjesus.gif" style="height: 150px; display: inline;">
      <img src="/assets/img/dancingjesus.gif" style="height: 150px; display: inline;">
      <img src="/assets/img/dancingjesus.gif" style="height: 150px; display: inline;">

      <iframe src="http://funhtml5games.com?embed=helicoptergame" style="width:100%;height:400px;border:none;" frameborder="0" scrolling="no"></iframe>

      <footer class="site-footer">
        <center>
          <img src="http://hitwebcounter.com/counter/counter.php?page=6637362&style=0010&nbdigits=5&type=page&initCount=0" title="website counter" Alt="website counter"   border="0" >
        </center>
      </footer>
    </section>

  </body>
</html>
